      <header class="header fixed" >
            <div class="content-limiter">
                <div class="container header-content-wrapper">
                    <div class="row">
                        <div class="col-12">
                            <!-- Start Burger Menu -->
                            <div class="burger-menu">
                                <button class="erickson-icon-menu"></button>
                            </div>
                            <!-- End Burger Menu -->
                            <!-- Start Header Content Common -->
                            <div class="header-content">
                                <div class="header-main">


                                    <span class="erickson-icon-search d-none d-xl-inline-block header-search-toggle"></span>

                                    <div class="header-account-container d-none d-xl-inline-block">
                                        <a href="javascript:void(0)" class="masked-link subheader-menu-toggle">
                                            Accedi/registrati
                                        </a>



                                        <!-- Start Popup Login -->
                                        <div class="popup-login padding-md">
                                            <div class="popup-login-header">Entra nel <br /> Mondo Erickson</div>
                                            <form>
                                                <div class="row">
                                                    <div class="col-12">

                                                        <div class="input-container big no-min-h">
                                                            <label></label>

                                                            <input type="text" value="" placeholder="E-Mail / Account*" />
                                                            <!-- <span class="input-feedback">Informazione obbligatoria</span> -->
                                                            <!-- <span class="field-validation-error d-none"><span>The  field is required.</span></span> -->
                                                            <!-- <ul class="parsley-errors-list filled">
        <li class="parsley-required">Questo valore è richiesto.</li>
    </ul> -->
                                                        </div>

                                                    </div>
                                                    <div class="col-12">

                                                        <div class="input-container big no-min-h">
                                                            <label></label>

                                                            <input type="password" value="" placeholder="Password*" />
                                                            <span class="input-feedback">Informazione obbligatoria</span>
                                                        </div>

                                                    </div>
                                                    <div class="col-6 margin-top-sm margin-bottom-sm">

                                                        <div class="input-container e-checkbox-container no-min-h unstyled text-small">
                                                            <input type="checkbox" class="e-checkbox" value="" /> <label>Mantieni l'accesso</label>
                                                            <span class="input-feedback">Informazione obbligatoria</span>
                                                        </div>

                                                    </div>
                                                    <div class="col-6 margin-top-sm margin-bottom-sm">
                                                        <a class="masked-link text-small" href="javascript:void(0)"><u>Hai dimenticato la password?</u></a>
                                                    </div>
                                                    <div class="col-12 margin-bottom-sm">
                                                        <button class="button-red">Accedi</button>
                                                    </div>
                                                    <div class="col-12 text-center text-small">
                                                        Non sei ancora un utente registrato? <u class="text-bold"><a href="javascript:void(0)" class="masked-link">Registrati ora</a></u>.
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <!-- End Popup Login -->

                                    </div>

                                    <div class="header-lang-switch-container d-none d-xl-inline-block">
                                        IT
                                    </div>

                                    <div class="header-actions d-inline-block">
                                        <span class="erickson-icon-search d-inline-block d-xl-none header-search-toggle"></span>
                                        <span class="erickson-icon-full-heart items-in-wishlist" data-num-wishlist-items="2"></span>
                                        <span class="erickson-icon-cart cart-popup-toggle items-in-cart" data-num-cart-items="13"></span>
                                    </div>
                                </div>
                            </div>
                            <!-- End Header Content Common -->
                        </div>
                    </div>
                </div>
            </div>
        </header>