{% extends 'base.html' %}

{% block title %}Redirect{% endblock title %}
{% load mathfilters %}
{% load custom_tags %}
{%load static%}
{% load sass_tags %}
{% block head_css_site %}
<link href="{% sass_src 'assets/styles/styles.scss' %}" rel="stylesheet" type="text/css" />
<link href="{% sass_src 'assets/styles/loader.scss' %}" rel="stylesheet" type="text/css" />
{% endblock head_css_site %}

{% block head_meta %}
{% with video=meta %}

<!-- Primary Meta Tags -->
<title>{{video.title}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="title" content="{{video.title}}">
<meta name="description" content="{{video.desc}}">

<!-- Open Graph / Facebook -->
<meta property="og:url" content="https://www.efoymedia.com/redirect?videoId={{video.videoId}}">
<meta property="og:title" content="{{video.title}}" />
<meta property="og:description" content="{{video.desc}}">
<meta property="og:image" content="https://img.youtube.com/vi/{{video.videoId}}/maxresdefault.jpg" width="1200px"
    height="630px" />
<meta property="og:imageWidth" content="1600px" />
<meta property="og:imageHeight" content="900px" />



<!-- Twitter -->
<meta property="twitter:card" content="https://img.youtube.com/vi/{{video.videoId}}/maxresdefault.jpg" width="1200px"
    height="630px">
<meta property="twitter:url" content="https://www.efoymedia.com/redirect?videoId={{video.videoId}}">
<meta property="twitter:title" content="{{video.title}}">
<meta property="twitter:description" content="{{video.desc}}">
<meta property="twitter:image" content="https://img.youtube.com/vi/{{video.videoId}}/maxresdefault.jpg" width="1200px"
    height="630px">

{%endwith%}
{% endblock head_meta %}

{% block content %}
<div class="content-wrapper-hp">

    <div class="content-limiter">

        <div class="slider">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    {% with video=meta %}


                    <a class="vid" value="{{video.videoId}}" style="cursor:pointer;">
                        <div class="carousel-item active">

                            <img src="https://img.youtube.com/vi/{{video.videoId}}/maxresdefault.jpg"
                                class="d-block w-100" onerror="standby('{{video.thumbnailsHigh}})';">
                            <div class="caption-container">
                                <div class="carousel-caption d-none d-md-block">
                                    <h1>{{ video.title|safe }}</h1>
                                    <h3>Click here to play</h3>

                                </div>
                            </div>
                        </div>
                    </a>
                    {%endwith%}

                </div>
            </div>
        </div>


        <div class="row movie-list">
            {% for video in video_list %}




            <div class="p-1 col-6 col-sm-4 col-md-3 col-lg-2 vid ">
                <div class="single-vid-container ">

                    <div class="card">
                        <a class="vid" value="{{video.videoId}}" style="cursor:pointer;">

                            <img src="{{ video.thumbnailsHigh}}" class="card-img-top">
                            <div class="loaderImage2" class="loader"></div>
                        </a>
                        <div class="card-body">


                            <div class="tag-container">
                                <div class="tag">
                                    <h3>{{ video.title|safe }}</h3>

                                </div>

                                <!--<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
                                <div class="sub-tag">
                                    <p class="card-text">{{ video.channel}}</p>
                                </div>
                            </div>
                            <p class="card-text"><small class="text-muted">
                                    {%if video.view_count >= 1000000000  %}
                                    {{ video.view_count|intdiv:"1000000000" }}<a style="color:red">ቢ</a>

                                    {%elif video.view_count >= 1000000  %}
                                    {{ video.view_count|intdiv:"1000000" }}<a style="color:red">ሚ</a>
                                    {%elif video.view_count >= 1000  %}
                                    {{ video.view_count|intdiv:"1000" }}<a style="color:red">ሺ</a>
                                    {% else %}
                                    {{video.view_count}}
                                    {% endif %}

                                    {%if video.view_count < 2%}
                                    የመጀመሪያው ይሁኑ
                                    {% else %}
                                    ጊዜ ታይቷል
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                    {%endif%}
                                    </br>
                                    {{ video.publishedAt|timesince|split}} ago 🕑</small></p>

                            <div class="download" style="display:inline;">
                                <input type="hidden" class="custId" value="{{video.url}}">
                                <div class="download-cl" style="position:relative;float: left;">Download </div>
                                <img class="loaderImage" src="{% static 'assets/images/ajax-loader.gif' %}"
                                    style="display:none;height:20px;width:20px;">
                                <p class="percent"
                                    style="color:#e60101;padding-left: 5px;position: relative;float: left;display: inline;height: 5px;">
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            {%endfor%}

        </div>
    </div>


    {% endblock content %}
    {%block paging%}
    <div class="content-limiter">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if video_list.has_other_pages %}

                {% if video_list.has_previous %}
                <li class="page-item"><a class="page-link"
                        href="?category={{video_list.0.channel.channelCategory}}&page={{video_list.previous_page_number }}"><i
                            class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
                {% else %}
                <li class="page-item disabled"><span class="page-link"><i class="fa fa-chevron-left"
                            aria-hidden="true"></i></span></li>
                {% endif %}

                {% if video_list.number|add:'-4' > 1 %}
                <li class="page-item"><a class="page-link"
                        href="?category={{video_list.0.channel.channelCategory}}&page={{video_list.number|add:'-5' }}">&hellip;</a>
                </li>
                {% endif %}

                {% for i in video_list.paginator.page_range %}
                {% if video_list.number == i %}
                <li class="page-item active"><span class="page-link">{{ i }} <span
                            class="sr-only">(current)</span></span></li>
                {% elif i > video_list.number|add:'0' and i < video_list.number|add:'5' %}
                <li class="page-item"><a class="page-link"
                        href="?category={{video_list.0.channel.channelCategory}}&page={{ i }}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}

                {% if video_list.paginator.num_pages > video_list.number|add:'4' %}
                <li class="page-item"><a class="page-link"
                        href="?category={{video_list.0.channel.channelCategory}}&page={{video_list.number|add:'5' }}">&hellip;</a>
                </li>
                {% endif %}

                {% if video_list.has_next %}
                <li class="page-item"><a class="page-link"
                        href="?category={{video_list.0.channel.channelCategory}}&page={{video_list.next_page_number }}"><i
                            class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
                {% else %}
                <li class="page-item disabled"><span class="page-link"><i class="fa fa-chevron-right"
                            aria-hidden="true"></i></span></li>
                {% endif %}

                {% endif %}


            </ul>

        </nav>
    </div>

    <img class="loaderImage2" src="/static/assets/images/ajax-loader.gif"
        style="height: 50px;position: absolute;top: 25%;left: 50%;">
    <script>
        $(".download").on("click", function () {

            var vid_url = $(this).find(".custId").val()
            var image = $(this).find(".loaderImage")
            var percent_box = $(this).find(".percent")
            $this = $(this)
            image.show()
            $.ajax({
                url: "{% url 'download_youtube' %}" + "?download=" + vid_url,
                dataType: 'json',
                success: function (data) {
                    console.log(data)

                    function download(data, filename, type) {
                        var file = new Blob([data], {
                            type: type
                        });

                        if (window.navigator.msSaveOrOpenBlob) // IE10+
                            window.navigator.msSaveOrOpenBlob(file, filename);
                        else { // Others
                            var a = document.createElement("a"),
                                url = URL.createObjectURL(file);
                            a.href = url;
                            a.download = filename;
                            document.body.appendChild(a);
                            a.click();
                            setTimeout(function () {
                                document.body.removeChild(a);
                                window.URL.revokeObjectURL(url);
                            }, 0);
                        }
                    }


                    var BASE64_MARKER = ';base64,';

                    function convertDataURIToBinary(dataURI) {
                        var base64Index = dataURI.indexOf(BASE64_MARKER) + BASE64_MARKER.length;
                        var base64 = dataURI.substring(base64Index);
                        var raw = window.atob(base64);
                        var rawLength = raw.length;
                        var array = new Uint8Array(new ArrayBuffer(rawLength));

                        for (i = 0; i < rawLength; i++) {
                            array[i] = raw.charCodeAt(i);
                        }
                        return array;
                    }


                    const proxyurl = "https://cors-anywhere.herokuapp.com/";
                    const url = data.filename

                    audioFileUrl = proxyurl + url


                    start()

                    async function start() {
                        const proxyurl = "https://cors-anywhere.herokuapp.com/";
                        const url = data.filename
                        console.log(url)

                        let response = await fetch(audioFileUrl = proxyurl + url);

                        const reader = response.body.getReader();

                        // Step 2: get total length
                        const contentLength = +response.headers.get('Content-Length');
                        const contentType = response.headers.get("Content-Type")


                        // Step 3: read the data
                        let receivedLength = 0; // length at the moment
                        let chunks = []; // array of received binary chunks (comprises the body)
                        while (true) {
                            const {
                                done,
                                value
                            } = await reader.read();

                            if (done) {

                                break;
                            }

                            chunks.push(value);
                            receivedLength += value.length;



                            tmp = ((receivedLength * 100) / contentLength)
                            percent = tmp.toFixed(2);
                            percent_box.text(percent + " %")


                        }

                        let chunksAll = new Uint8Array(receivedLength); // (4.1)
                        let position = 0;
                        for (let chunk of chunks) {
                            chunksAll.set(chunk, position); // (4.2)
                            position += chunk.length;
                        }
                        download(chunksAll, data.name, contentType)
                        image.hide()
                        percent_box.text('')
                    }



                }

            });


        });
        $(document).ready(function () {
            var image2 = $(this).find(".loaderImage2")
            image2.show()

            var video_id = "{{meta.videoId}}"
            console.log("{{meta.videoId}}")
            $.ajax({
                url: "{% url 'download_youtube' %}" + "?download=" + video_id,
                dataType: 'json',
                success: function (data) {

                    const proxyurl = "https://cors-anywhere.herokuapp.com/";
                    const url = data.filename

                    audioFileUrl = proxyurl + url

                    var a = document.createElement("a")
                    a.href = url;
                    a.src = url;
                    // a. width="320";
                    // a.height="240";
                    a.controls = "";
                    a.setAttribute("controls", "");
                    a.type = "video/ogg";
                    a.setAttribute("data-lity", "");
                    document.body.appendChild(a);
                    console.log("redirected_video" + "{{redirected_video}}")

                    if ("{{redirected_video}}" == "True") { a.click(); }

                }
                ,
                error: function (xhr, status, error) {
                    console.log(error)
                },

            });
            image2.hide()
        });
        function standby(val) {
            console.log("onEror" + val)
            document.getElementById('foo').src = val
        }

        $(".vid").on("click", function () {

            image = $(this).find(".loaderImage2").css("display", "block");
            console.log(image)

            video_id = $(this).attr('value')
            $.ajax({
                url: "{% url 'download_youtube' %}" + "?download=" + video_id,
                dataType: 'json',
                success: function (data) {

                    const proxyurl = "https://cors-anywhere.herokuapp.com/";
                    const url = data.filename

                    audioFileUrl = proxyurl + url

                    var a = document.createElement("a")
                    a.href = url;
                    a.src = url;
                    // a. width="320";
                    // a.height="240";
                    a.controls = "";
                    a.setAttribute("controls", "");
                    a.type = "video/ogg";
                    a.setAttribute("data-lity", "");
                    document.body.appendChild(a);

                    a.click();

                    image.css("display", "none");
                }
                ,
                error: function (xhr, status, error) {
                    console.log(error)
                    image.css("display", "none");

                },

            });

        });


    </script>
    {%endblock%}